*{
    margin: 0;
    padding: 0;
    /* background-color:black; */
}

body{
    background-color:rgb(31 41 55 );
}
ul{
    display: flex;
}
header{
   /* position: fixed; */
    z-index: 999;
    width: 100%;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 3px;
}
.logo img{
    width: 114px;
    height: 110px;
}
li{
    list-style: none;
}
.inscription{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    margin-right: 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size:18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:orangered;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

nav h3{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 400;
}

table {
    width: 95%;
    border-radius: 10px;
    border-collapse: collapse;
    margin: 25xp 0;
    padding: 5px;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

td,
th {
    padding: 10px;
    text-align: center;
    color: white;
}

thead {
    padding: 30px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

thead tr{
    background-color: #2b2d3f;
    color: #ffffff;
    text-align: center;
}

tbody tr.active-row {
    font-weight: bold;
    color: #293b38;
}

tbody tr:nth-of-type(even) {
    background-color: #231a28;
}

input[type="submit"] {
    background-color: #393a39;
    width: 8em;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 6px;
    text-align: center;
    font-weight: bold;
    margin: 5px;
}

.input {
    width: 100%;
    height: 30px;
    outline: none;
    border-radius: 6px;
    border: 1px solid #e6e6e6;
}


