
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/background.jpg");
    background-size: 1538px 845px ;
    background-repeat: no-repeat;
    background-color: rgb(245, 109, 60);
}

header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* background-color: black; */
  width: 100%;
  height: 80px;
}
nav{

  display: flex;
  
  /* margin-left: 1000px; */
}

.logo img{
    width: 80px;
    height: 80px;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
}
 a{
    position: relative;
 }
  a::after{
     content: '';
     width: 0;
     height: 3px;
     background:orangered;
     position: absolute;
     left: 0;
     bottom: -6px;
     transition: 0.5s;
  }
   a:hover::after{
     width: 100%;
  }
  article{
    display: flex;
    margin-top: 50px;
    width: 900px;
    height: 420px;
    background-color:rgb(31 41 55 );
    border-radius: 10px;

  }
  .image img{
    margin-top: 25px;
    padding: 10px;
    width: 250px;
    height: 320px;
    margin-right: 29px;
  }
  .form{
    margin-left: -57px;
    margin-top: 50px;
    width: 250px;
    height: 100px;
  }
  
  #nom,#prenom,#email{
    width: 245px;
    background-color:rgb(31 41 55 );
    padding-left: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    font-weight: 800;
    border: none;
    color: white;
  }
  #comemail,#adresse{
    width: 245px;
    background-color:rgb(31 41 55 );
    padding-left: -10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    font-weight: 800;
    border: none;
    color: white;
  }
  .inputemail{
    border-bottom: 1px solid orangered;
    margin: 10px;
  }
  .inputpass{
    margin: 10px;
    border-bottom: 1px solid orangered;
  }
  .inputcoemail,.inputadresse,.inputimage{
    margin: 10px;
    border-bottom: 1px solid orangered;
    width: 250px;
  }
  .inputdemande{
    padding: 5px;
    margin: 10px;
    border: 1px solid orangered;
   
    width: 250px;
  }
  
  #connexion{
    width: 200px;
    background-color: orangered;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    margin-left: 1px;
    height: 30px;
    font-size: 1.1em;
    font-weight: 800;
    margin-bottom: 10px;
    color: azure;
  }
  #connexion:hover{
   background-color: azure;
   color: black;
  }
  form{
    display: flex;
  }
  section{
    margin-left: 1px;
  }
  .fileinput{
    margin-left: 164px;
    margin-top: 15px;
  }
  
  label{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    font-weight: 800;
    color: gray;
  }
  textarea{
    background-color:rgb(31 41 55 );
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    font-weight: 800;
    border: none;
    color: white;
    border: none;
  }