.P-3{
    margin-top: 67px;
    background-color:#ffff;
    margin-bottom: 20px;
    margin-left: 165px;
    width: 85%;
  }
  .titre-part3{
    margin-top: 40px;
    margin-left:150px;
    margin-bottom: 30px;
    
  }
  form{
    
  }