.barre{
    position: fixed;
    margin-top: 55px;
    width: 220px;
    height: 100%;
    top: 0;
    right: 0;
    border-left: 0.1em solid lightgray;
    z-index: 999;
    padding: 10px;
}

.vos{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    color: #333333;
    margin-left: 18px;
}

i{
    font-size: 1.6em;
    font-weight: 400;
}
.P-2{
    margin-top: 50px;
    background-color:#fafafa;
    margin-bottom: 20px;
    height: 550px;
 }

 .titre-part3{
   margin-top: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin-right: 212px;
 }
 .demandes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: -143px;
    height: 500px;
    width: 85%;

 }
 article{
    width: 400px;
    height: 443px;
    border-radius: 7px;
    box-shadow: 0 0 10px 5px rgb(55 74 97 / 10%);
    background-color: #fff;
    margin-top: 30px;
 }
 .button-commander{
   width: 50%;
   height: 45px;
   background-color:#ff3c74;
   border-radius: 7px;
   margin-top: 10px;
   padding-top:7px ;
 }
 .button-commander:hover{
   background-color:#a51840;
 }
 .button-postuller{
   width: 50%;
   height: 45px;
   background-color:#3cb626;
   border-radius: 7px;
   margin-top: 10px;
   padding-top:7px ;
 }
 .button-postuller:hover{
   background-color:#198d05;
 }
 .but-post{
   text-decoration: none;
   color: #fafafa;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.2em;
   font-weight: 400;
}
.but-post:hover{
   color: #fafafa;
}

 .info-per{
    width: 360px;
    height: 80px;
    margin-left: 20px;
    display: flex;
    align-items: center;
 }
 .image-dem{
    width: 360px;
    height: 200px;
    margin-left: 20px;
 }
 /*.image-ser img{
    width: 408px;
    height: 187px;
    margin-left: 10px;
    border-radius: 10px;
 }*/
 .desc-dem{
    width: 360px;
    height: 90px;
    margin-left: 20px;
 }
 /*.desc-ser{
    width: 440px;
    height: 90px;
    margin-left: 20px;
 }*/
 .img-prfl img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
 }
 .info-prfl{
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
 }
 .image-dem img{
    width: 360px;
    height: 200px;
    border-radius: 7px;
 }

 .text-dem{
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
 }
 /*.text-ser{
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
 }*/

 /*.demandes{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: -143px;
    height: 500px;
 }*/
 /*.image-ser{
    width: 440px;
    height: 200px;
    margin-left: 20px;
 }
 .desc-ser{
    width: 440px;
    height: 90px;
    margin-left: 20px;
 }*/
 .services-p{
   display: flex;
 }
