*{
   margin: 0;
   padding: 0;
  
}
body{
   overflow: auto;
} 
.container-h2{
   font-family: 'Open Sans', sans-serif;
}
.main-header {
   width: 100%;
   background-color: #ffffff;
   height: 80px;
   display: flex;
   align-items: center;
   padding: 0 30px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   position: fixed;
 }
 
 
 .main-nav ul {
   list-style: none;
   display: flex;
   
 }
 
 .main-nav ul li {
   margin: 0 20px;
 }
 
 .main-nav ul li a {
   text-decoration: none;
   color: #333333;
   font-weight: 600;
   font-family: 'Open Sans', sans-serif;
  
 }
 .main-nav ul li a:hover{
   color: orangered;
 }
 
 .logo {
   width: 150px;
   height: auto;
 }
 .container{
   width: 97%;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

.main-part1{
   display: flex;
}
.part1{
   margin-top: 100px;
   display: flex;
   margin-left: 160px;
}
.logo-part1 img{
   width: 400px;
   height: 400px;
}
span{
   color: #3cb626;
}
#text-part1{
   margin-top: 134px;
   
   font-family: 'Unbounded', cursive;
   font-size: 2em;
   font-weight: 700;
}
.part2{
   display: flex;
   justify-content: space-around;
}

.lien-part2{
   color: #fff;
   text-decoration: none;
   font-family: 'Poppins', sans-serif;
   font-size: 1.3em;
   font-weight: 800;
}
.button-part2,.button-part2{
   width: 226px;
   height: 30px;
   border-radius: 6px;
   background-color: #3cb626;
   padding: 10px;
   text-align: center;
   margin-top: 50px;
}
/*
.service, .demande{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 2px;
   width: 70%;
   height: 350px;
}

.service article, .demande article{
   margin: 10px;
   padding: 16px;
   text-align: center;
   width: 300px;
   height: 355px;
   border-radius: 22px;
   background: black;
   overflow: auto;
}

.service article img, .demande article img{
   width: 80%;
   height: 150px;
}

.service article h3, .service article p, .demande article h3, .demande article p{
   color: #ffffff;
   font-family: 'Poppins', sans-serif;
   font-size: 1.3em;
   font-weight: 400;
}

.service article button, .demande article button{
   width: 90%;
   height: 30px;
   background-color: orangered;
   margin: 2px;
   border-radius: 6px;
   margin-top: 10px;

}
section{
   display: flex;
   background-color: black;
}
.barre{
   width: 50px;
   height: 100%;
   background-color: black;
}
