.card-body{
    display: flex;
}
.card{
    box-shadow:rgb(205, 202, 202) 3px 3px 0px 0px;
    border-radius: 10px;
}
.logo img{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}
input{
    margin-left: 50px;
}
form{
    margin-top: 70px;
}
#email ,#password{
    width: 145%;
}
.logo{
    padding-bottom: 15px;
}
.card-header{
    text-align: center;
}
button{
    margin-left: 55px;
}
.form-check{
    margin-left: 50px;
}
 .forgout{
    margin-left: 36px;
}
.card{
    margin-top: 110px;
}
.strong{
    margin-left: 10px;
}
/*smartscreen*/
@media screen and (max-width:620px){
   .card-body{
    display: block;
  
   }
   form {
    margin-top: -24px;
   }
   .card{
    margin-left: 30px;
    margin-top: 40px;
    margin-right: 30px;
   }
   #email, #password {
    width: 73%;
   }
   .logo img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    
  }
  .col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.6;
    margin-left: 53px;
}


 
 }
