*{
   margin: 0;
   padding: 0;
  
}
body{
   overflow: auto;
   flex-wrap: wrap;
} 
.container-h2{
   font-family: 'Open Sans', sans-serif;
   margin-left: 40px;
} 
.main-header {
   width: 100%;
   background-color: #ffffff;
   height: 80px;
   display: flex;
   align-items: center;
   padding: 0 30px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   position: fixed;
   z-index: 999;
 }
 
 
 .main-nav ul {
   list-style: none;
   display: flex;
   
 }
 
 .main-nav ul li {
   margin: 0 20px;
 }
 
 .main-nav ul li a {
   text-decoration: none;
   color: #333333;
   font-weight: 600;
   font-family: 'Open Sans', sans-serif;
  
 }
 .main-nav ul li a:hover{
   color: orangered;
 }
 
 .logo {
   width: 150px;
   height: auto;
 }
 .container{
   width: 97%;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

.main-part1{
   display: flex;
}
.part1{
   margin-top: 100px;
   display: flex;
   margin-left: 5%;
   margin-right: 5%;
}
.logo-part1 img{
   width: 100%;
   height: 500px;
}
span{
   color: #3cb626;
}
#text-part1{
   margin-top: 125px;
   font-family: 'Open Sans', sans-serif;  
   font-size: 4em;
   font-weight: 900;
}
.PROPOSER {
   color:#3cb626;
}
.TROUVER{
   color:#ff3c74;
}
.part2{
   display: flex;
   justify-content: space-around;
}

.lien-part1{
   color: #fff;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.2em;
   font-weight: 400;
}
.lien-part2{
   color: #fff;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.2em;
   font-weight: 400;
}
.button-part1{
   width: 226px;
   height: 30px;
   border-radius: 6px;
   background-color: #3cb626;
   padding: 10px;
   text-align: center;
   margin-top: 50px;
}
.button-part2{
   width: 226px;
   height: 30px;
   border-radius: 6px;
   background-color:#ff3c74;
   padding: 10px;
   text-align: center;
   margin-top: 50px;
}
.P-2{
   margin-top: 50px;
   background-color:#fafafa;
   margin-bottom: 20px;
   height: 550px;
}

.titre-part3{

   text-align: center;
   font-family: 'Open Sans', sans-serif;  
   font-size: 2em;
   font-weight: 700;

}
.services{
   display: flex;
   justify-content: space-around;
   margin-top: 40px;
   margin-bottom: -143px;
   height: 500px;
}
article{
   width: 480px;
   height: 380px;
   border-radius: 7px;
   box-shadow: 0 0 5px gray;
   background-color: #fff;
}
.info-per{
   width: 440px;
   height: 80px;
   border-bottom: 0.3px solid gray;
   margin-left: 20px;
}
.image-dem{
   width: 440px;
   height: 200px;
   border-bottom: 0.3px solid gray;
   margin-left: 20px;
}
.desc-dem{
   width: 440px;
   height: 90px;
   margin-left: 20px;
}
button{
   background-color: #3cb626 ;
   width: 200px;
   height: 40px;
   margin-left: 50px;
   text-align: center;
   border: none;
   margin-top: 5px;
   border-radius: 7px;
}
.button-serv{
   width: 226px;
   height: 30px;
   border-radius: 16px;
   background-color:#ff3c74;
   padding: 10px;
   text-align: center;
   margin-top: 50px;
}
.button-serv:hover{
   background-color:#d02c5a;
   
}
.texte-butser{
   color: #fff;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.2em;
   font-weight: 400;
}
.demandes{
   display: flex;
   justify-content: space-around;
   margin-top: 40px;
   margin-bottom: -143px;
   height: 500px;
}
.image-ser{
   width: 440px;
   height: 200px;
   border-bottom: 0.3px solid gray;
   margin-left: 20px;
}
.desc-ser{
   width: 440px;
   height: 90px;
   margin-left: 20px;
}
.titre-part4{
   text-align: center;
   font-family: 'Open Sans', sans-serif;  
   font-size: 2em;
   font-weight: 700;
}
#span-t2{
   color: #ff3c74;
}
.button-dem{
   width: 226px;
   height: 30px;
   border-radius: 16px;
   background-color:#3cb626;
   padding: 10px;
   text-align: center;
   margin-top: 50px;
}
.button-dem:hover{
   background-color:#22910f;
   border: 0.5px solid grey;
}

.texte-butdem{
   color: #fff;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.2em;
   font-weight: 400;
}
.P-4{
   margin-top: 30px;
   width: 100%;
   height: 511px;
   background-color: #f3e1e6;
}
.store{
   text-align: center;
   font-family: 'Open Sans', sans-serif;  
   font-size: 2em;
   font-weight: 700;
}
.skills{
   color: #ff3c74;
}
.cont-img{
   margin-top: 65px;
   display: flex;
   justify-content: space-around;
}
.cont-img img{
   margin-bottom: 30px;
}
h3{
   font-family: 'Open Sans', sans-serif;  
   color: #172433;
}
.button-pre-ser{
   width: 226px;
   height: 30px;
   border-radius: 30px;
   background-color:#ff3c74;
   padding: 10px;
   text-align: center;
   margin-top: 50px;
   margin-right: 10px;
}
.button-pre-ser:hover{
   background-color:#d02c5a;
   
}
.texte-pre-ser{
   color: #fff;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.2em;
   font-weight: 400;
}
.P-5{
   margin-top: 30px;
   margin-bottom: 30px;
}
.notif{
   margin-top: 30px;
   display: flex;
   justify-content: space-around;
}
.notif-titre{
   text-align: center;
   font-family: 'Open Sans', sans-serif;  
   font-size: 2em;
   font-weight: 700;
}
.S{
   color: #3cb626;
}
.K{
   color: #ff3c74;
}
.not1{
      width: 480px;
      height: 248px;
      
      border-right: 0.3px solid #a09f9f;
}
.not2{
   width: 480px;
   height: 248px;
}
.not3{
   width: 480px;
   height: 248px;
   
   border-left: 0.3px solid #a09f9f;
}
.titre-not1 ,.titre-not2 ,.titre-not3{
   text-align: center;
   font-family: 'Open Sans', sans-serif;  
   color: #172433;
   font-size: 1.8em;
   font-weight: 500;
}
.desc{
   margin-top: 20px;
   
}
.h3-notif{
   font-family: 'Open Sans', sans-serif;  
   color: #172433;
   text-align: center;
   
}
i{
   margin-right: 7px;
}
/*
.service, .demande{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 2px;
   width: 70%;
   height: 350px;
}

.service article, .demande article{
   margin: 10px;
   padding: 16px;
   text-align: center;
   width: 300px;
   height: 355px;
   border-radius: 22px;
   background: black;
   overflow: auto;
}

.service article img, .demande article img{
   width: 80%;
   height: 150px;
}

.service article h3, .service article p, .demande article h3, .demande article p{
   color: #ffffff;
   font-family: 'Poppins', sans-serif;
   font-size: 1.3em;
   font-weight: 400;
}

.service article button, .demande article button{
   width: 90%;
   height: 30px;
   background-color: orangered;
   margin: 2px;
   border-radius: 6px;
   margin-top: 10px;

}
section{
   display: flex;
   background-color: black;
}
.barre{
   width: 50px;
   height: 100%;
   background-color: black;
}
