*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(31 41 55 );
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    background:#CECEFE;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background: #8546BB;
    border-radius: 50px;
}

ul{
    display: flex;
}
header{
    position: fixed;
    /* z-index: 999; */
    width: 100%;
    background-color:rgb(31 41 55 );
    top: 0;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 3px;
}
.logo img{
    width: 114px;
    height: 110px;
}
li{
    list-style: none;
}
.inscription{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    margin-right: 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size:18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:orangered;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

nav h3{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 400;
}

.profile-information{
    border: 1px solid black;
    width: 95%;
    height: 430px;
    border-radius: 10px;
    margin: 140px 20px 20px 20px;
    background-color: rgb(32, 47, 68);
    padding: 10px;
}

.update-password{
    border: 1px solid black;
    width: 95%;
    height: 325px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(32, 47, 68);
    padding: 10px;
}

.profile-information h2, .update-password h2 ,.delete-account h2,.service-personnel h2, .demande-personnel h2{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    border-bottom: 1px solid #fff;
}

.profile-information label,.update-password label,.delete-account p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
}

.profile-information input, .update-password input{
    width: 99%;
    /* height: 25px;
    border-radius: 5px;
    margin: 5px;
    padding: 3px; */
    background-color:rgb(32, 47, 68);
    padding-left: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    font-weight: 800;
    border: none;
    color: white;
    border-bottom: 1px solid orangered;
    margin: 10px;
}

.profile-information .btn-submit, .update-password .btn-submit, .delete-account .btn-submit{
    width: 99.5%;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    color: #fff ;
    background-color: orangered;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
}

.delete-account{
    border: 1px solid black;
    width: 95%;
    height: 120px;
    border-radius: 10px;
    margin: 20px;
    /* background-color: black; */
    background-color: rgb(32, 47, 68);
    padding: 10px;
}

.service-personnel, .demande-personnel{
    background-color: rgb(32, 47, 68);
    /* background-color: black; */
    width: 95%;
    height: 440px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    overflow: auto;
}

.contenue{
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

.contenue article{
    margin: 10px;
    padding: 16px;
    text-align: center;
    width: 200px;
    height: 350px;
    border-radius: 22px;
    background: black;
    /* box-shadow:  32px 32px 70px #290101,-32px -32px 70px #300101; */
}

.contenue article img{
    width: 80%;
    height: 130px;
}

.contenue article h3, .contenue article p{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
}

.contenue article button{
    width: 90%;
    height: 30px;
    background-color: orangered;
    margin: 2px;
    border-radius: 6px;
    margin-top: 10px;
}

